/* Empty. Add your own CSS if you like */

.news-image-list {
  width: 30%;
  margin-top: 16px;
  margin-right: 10px;
}

.pull-left {
  float: left;
}

.story-image {
  height: 85%;
  text-align: center;
}
